@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
	width: 100%;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'PT Sans', sans-serif;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

p,
ul {
	margin: 0;
	padding: 0;
}

a,
ol,
ul,
li {
	text-decoration: none;
	list-style: none;
}

a {
	color: white;
}

nav ul {
	padding-top: 40px;
	padding-left: 18%;
	padding-right: 18%;
	display: flex;
}

nav li {
	margin-right: 13.5%;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
}

.header-main {
	background-image: url("../img/main-block.png");
	max-width: 1280px;
	height: 595px;
}

.logo {
	margin-top: -17px;
}

.utp {
	margin-top: 10%;
	text-align: center;\
}

.utp h1 {
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 8px;
}

.utp p {
	font-family: 'Lobster', cursive;
	font-size: 18px;
	margin-top: -30px;
	letter-spacing: 3px;
	margin-bottom: 50px;
}

.utp a {
	background-color: white;
	padding: 10px 40px 10px 40px;
	color: black;
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: bold;
}